@use 'base/colors.scss';
@use 'base/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    --primary: #{colors.$light-primary};
    --gray: #{colors.$light-gray};
    --light-gray: #{colors.$light-light-gray};
    --gray2: #{colors.$light-gray2};
    --white: #{colors.$light-white};
    --black: #{colors.$light-black};
    --red: #{colors.$light-red};
    --green: #{colors.$light-green};
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
small,
button {
    font-family: 'Epilogue', sans-serif;
    color: colors.$black;

}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    font-weight: 600;
}


span {
    font-size: 1rem;
    color: colors.$gray;
}

small {
    font-size: 0.8rem;

}

.dark-mode {
    --primary: #{colors.$dark-primary};
    --gray: #{colors.$dark-gray};
    --light-gray: #{colors.$dark-light-gray};
    --gray2: #{colors.$dark-gray2};
    --white: #{colors.$dark-white};
    --black: #{colors.$dark-black};
    --red: #{colors.$dark-red};
    --green: #{colors.$dark-green};

    background-color: colors.$dark-white;
    color: colors.$dark-black;

    // Textos
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a,
    small,
    button {
        color: colors.$dark-black;
    }

    span {
        color: colors.$dark-gray;
    }

    // Componentes principales
    .bg-primary {
        background-color: colors.$dark-primary;
    }

    .bg-gray {
        background-color: colors.$dark-gray2;
    }

    .bg-success {
        background-color: colors.$dark-green;
    }

    .bg-bold-gray {
        background-color: colors.$dark-gray;
    }

    // Login container
    .login-container,
    .login-form {
        background-color: colors.$dark-light-gray;

        .form-group {
            label {
                color: colors.$dark-gray;
            }

            input {
                background-color: colors.$dark-gray2;
                color: colors.$dark-black;
                border-color: colors.$dark-gray;

                &:focus {
                    border-color: colors.$dark-primary;
                }
            }
        }
    }

    // Botones
    .primary-button {
        @include mixins.button(colors.$dark-black, colors.$dark-primary, colors.$dark-primary);
    }

    .back-button {
        @include mixins.button(colors.$dark-white, colors.$dark-gray, colors.$black);
        width: 10%;
        min-width: 150px;
    }

    // Elementos de interfaz
    .input-error {
        color: colors.$dark-black !important;
        border-color: colors.$dark-red !important;
    }

    .input-message-error {
        color: colors.$dark-red;
    }

    // Círculos indicadores
    .circle-success {
        background-color: colors.$dark-green;
    }

    .circle-gray {
        background-color: colors.$dark-gray2;
    }

    .circle-bold-gray {
        background-color: colors.$dark-gray;
    }

    // Divisores
    .divider_vertical {
        border-left-color: colors.$dark-gray;
    }

    // Timeline
    .p-timeline-vertical .p-timeline-event-connector {
        background-color: colors.$dark-gray2;
    }

    .main-content {
        flex: 1;
        margin-left: 250px; // Igual al ancho de tu sidebar
        padding: 20px;
        background-color: var(--white)
    }

    .p-datatable .p-component {
        background-color: colors.$dark-light-gray;
        color: colors.$white;
    }

    .p-datatable-tbody .p-row-even {
        background-color: colors.$dark-light-gray;
        color: colors.$white;

    }

    .p-datatable-tbody .p-row-odd {
        background-color: colors.$dark-gray;
        color: colors.$white;

    }

    .p-datatable-thead tr {
        background-color: colors.$dark-light-gray;
    }

    .p-datatable-thead th {
        background-color: colors.$dark-light-gray;
        color: colors.$dark-black;
    }

    .p-paginator-page-selected {
        background-color: colors.$dark-gray;
        color: colors.$dark-black;
    }

    .p-paginator-page:hover {
        background-color: colors.$dark-gray;
        color: colors.$dark-black;
    }

    .p-paginator-page:focus {
        background-color: colors.$dark-gray;
        color: colors.$dark-black;
    }

}

/**End dark mode**/

.primary-button {
    @include mixins.button(colors.$white, colors.$primary, colors.$primary );
}

.back-button {
    @include mixins.button(colors.$black, colors.$white, colors.$white, colors.$light-gray, colors.$black );
    width: 10%;
    min-width: 150px
}

.main-container {
    width: 65%;
    margin: 0 auto;
    max-width: 550px;
}

.visibility-hidden {
    visibility: hidden;
}

.bg-primary {
    background-color: colors.$primary;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-logo {
        width: 60%;
        aspect-ratio: 16/9;

    }

    .login-container {
        width: 100%;
        max-width: 100%;
        height: 65%;
        padding: 20px;
        background-color: colors.$light-gray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .login-title {
            font-weight: bold;
            text-align: center;
            margin: 2em 0;

            .login-logo {
                width: 1em;
                height: 1em;
                display: inline;
            }
        }

        .login-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 90%;
            margin: 0 auto;

            .login-body-title {
                font-weight: 500;
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 0.5em;
            }
        }
    }
}

.login-form {
    margin: 2em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: colors.$light-gray;
    border-radius: 5px;

    .form-group {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        label {
            font-size: 1rem;
            font-weight: 500;
            color: colors.$gray;
            margin-bottom: 5px;
            text-align: left;
        }

        input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-size: 1rem;
            color: colors.$black;

            &:focus {
                outline: none;
                border-color: colors.$primary;
            }
        }
    }
}

.password-input {
    position: relative;
    width: 100%;

    input {
        padding-right: 40px;
    }
}

.input-error {
    color: colors.$black !important;
    border: 1px solid colors.$red !important;
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: left;
}

.input-message-error {
    color: colors.$red;
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: left;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
}

.p-timeline-event-opposite {
    display: none !important;
}

.bg-gray {
    background-color: colors.$gray2;
}

.bg-success {
    background-color: colors.$green;
}

.p-timeline-vertical .p-timeline-event-connector {
    width: 0.4em;
}

.circle-success {
    background-color: colors.$green;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.circle-gray {
    background-color: colors.$gray2;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.circle-bold-gray {
    background-color: colors.$gray;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.divider_vertical {
    border-left: 1px solid #e0e0e0;
    height: 20px;
    margin: 0 10px;
    width: 1px;
}

.bg-bold-gray {
    background-color: colors.$gray;

}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

* {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.main-content {
    flex: 1;
    margin-left: 250px; // Igual al ancho de tu sidebar
    padding: 20px;
    background-color: var(--light-gray);
}